<p class="center">
body {
  font-family: helvitica, sans-serif;
  background-color: #fff;
  color: #333;
}

header {
  background-color: #fc8d8d;
  color: #fff;
  padding: 50px;
}

h1 {
  margin: 10;
}

nav ul {
  list-style: center;
  
  <style>
  .center {
    text-align: center;
  }
</style>

</p>

 
